.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  height: 400px;
  padding: 0 30px 30px;
  background-color: darkgrey;
}

.close_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  right: 0;
  cursor: pointer;
  transition: all .3s;
}

.close_icon:hover {
  color: white;
  background-color: #000;
}

.modal textarea {
  height: 150px;
}

.text_length_counter__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warning {
  padding: 5px 10px;
  background-color: #FFCC00;
  border-radius: 3px;
  font-size: 12px;
}

.overflowed {
  color: #ff0033
}

.shaking {
  animation: tilt-shaking .8s ease-in-out;
}

@keyframes tilt-shaking {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% { transform: translateX(0); }
  5%, 25%, 45%, 65%, 85% { transform: translateX(5px) }
  15%, 35%, 55%, 75%, 95% { transform: translateX(-5px); }
}
